"*":
  "atom-beautify":
    general:
      _analyticsUserId: "24e610e2-fc86-41b3-9f1b-3df7809aa296"
  core:
    disabledPackages: [
      "vim-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "412dbca5-edd6-9221-5967-03634ce39c34"
  "git-plus":
    pullBeforePush: "pull"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-manager":
    environmentSpecificProjects: true
    includeGitRepositories: true
  softTabs: true
  welcome:
    showOnStartup: false
