packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-monokai"
  "atom-terminal"
  "auto-detect-indentation"
  "autoclose-html"
  "busy"
  "busy-signal"
  "dalek"
  "django-templates"
  "duplicate-line-or-selection"
  "editorconfig"
  "ex-mode"
  "gist"
  "git-control"
  "git-diff-details"
  "highlight-selected"
  "intentions"
  "language-apache"
  "language-cisco"
  "language-docker"
  "language-generic-config"
  "language-junos"
  "language-log"
  "language-nagios"
  "language-powershell"
  "language-vbscript"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-flake8"
  "linter-js-yaml"
  "linter-pylama"
  "linter-sass-lint"
  "linter-stylelint"
  "linter-tidy"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "monokai-seti"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "rest-client"
  "solarized-dark-ui"
  "sort-lines"
  "sync-settings"
  "terminal-plus"
]
