packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-monokai"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-python"
  "django-templates"
  "editorconfig"
  "emmet"
  "git-control"
  "git-diff-details"
  "git-plus"
  "highlight-selected"
  "language-apache"
  "language-cisco"
  "language-docker"
  "language-generic-config"
  "language-log"
  "language-nagios"
  "linter"
  "linter-docker"
  "linter-flake8"
  "linter-js-yaml"
  "linter-sass-lint"
  "linter-tidy"
  "minimap"
  "minimap-highlight-selected"
  "monokai-seti"
  "open-in-browsers"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "rest-client"
  "seti-syntax"
  "seti-ui"
  "solarized-dark-ui"
  "vim-mode"
]
